__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
.eggs/
*.egg-info/
*.egg
.tox/
.coverage
.cache
.pytest_cache/
*.db
*.sqlite3
*.db-journal
.env
venv/
.venv/
assets/cvs/
assets/reports/
assets/creds/token.json